In [2]:
import pandas as pd
import json

In [3]:
data = pd.read_json('/content/drive/MyDrive/Electronics.json', lines=True, nrows = 200)

This describes the shape of the data by giving information regarding the number of rows and columns. since the data is very large, it keeps on crashing again and again so only 200 rows

In [7]:
data.shape

(200, 12)

The head of the data helps to understand the attributes as what columns are in the dataset. Moreover, it also gives insgight of the first 5 rows data values.

In [14]:

data.head()

,_id,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,category,class
0,{'$oid': '5a13242d741a2384e88f3c11'},A2WNBOD3WNDNKT,0439886341,JAL,"[1, 1]",Some of the functions did not work properly. ...,3,Disappointing,1374451200,"07 22, 2013",Electronics,0
1,{'$oid': '5a13242d741a2384e88f3c0f'},AKM1MP6P0OYPR,0132793040,"Vicki Gibson ""momo4""","[1, 1]",Corey Barker does a great job of explaining Bl...,5,Very thorough,1365811200,"04 13, 2013",Electronics,1
2,{'$oid': '5a13242d741a2384e88f3c12'},A2CX7LUOHB2NDG,0321732944,Bernie,"[0, 0]",While many beginner DVDs try to teach you ever...,5,Adobe Photoshop CS5 Crash Course with master P...,1341100800,"07 1, 2012",Electronics,1
3,{'$oid': '5a13242d741a2384e88f3c10'},A2NWSAGRHCP8N5,0439886341,bowmans2007,"[1, 1]",It never worked. My daughter worked to earn th...,1,absolutely horrible,1367193600,"04 29, 2013",Electronics,0
4,{'$oid': '5a13242d741a2384e88f3c13'},A1GI0U4ZRJA8WN,0439886341,Truthfull,"[4, 4]",Do not waste your money on this thing it is te...,1,TERRIBLE DONT WASTE YOUR MONEY,1334707200,"04 18, 2012",Electronics,0

The tail of the data helps to understand the data values in last 5 rows dataset.

In [12]:
data.tail()

,_id,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,category,class
195,{'$oid': '5a13242d741a2384e88f3cd7'},A3BMUBUC1N77U8,0972683275,ahoffoss,"[0, 0]",This mount works really well once you get it u...,4,"Pretty simple, but definitely good!",1385164800,"11 23, 2013",Electronics,1
196,{'$oid': '5a13242d741a2384e88f3cd6'},A1EDI0X3GI1SK7,0972683275,AGW,"[0, 1]","Great deal, easy to mount and it appears to be...",5,32 In TV Mount,1323993600,"12 16, 2011",Electronics,1
197,{'$oid': '5a13242d741a2384e88f3cd8'},A1WSLZ5AVVHLRX,0972683275,aicha s.,"[0, 0]",I really like item ! It's perfect for the usag...,5,Wall mount is perfect !!! It looks great on th...,1370476800,"06 6, 2013",Electronics,1
198,{'$oid': '5a13242d741a2384e88f3cd9'},A2ZBW1GVAXYGNI,0972683275,akebia,"[0, 1]","It probably would have been good, but the wron...",1,sent the wrong order.....,1359504000,"01 30, 2013",Electronics,0
199,{'$oid': '5a13242d741a2384e88f3cdc'},ARG1JEPRCUDQT,0972683275,Alaskan Customer,"[0, 0]",It does everything that I need and the price i...,5,Works Well,1381190400,"10 8, 2013",Electronics,1

The info function fives information regarding all the columns present in the dataset and along with their datatypes.

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             200 non-null    object
 1   reviewerID      200 non-null    object
 2   asin            200 non-null    object
 3   reviewerName    192 non-null    object
 4   helpful         200 non-null    object
 5   reviewText      200 non-null    object
 6   overall         200 non-null    int64
 7   summary         200 non-null    object
 8   unixReviewTime  200 non-null    int64
 9   reviewTime      200 non-null    object
 10  category        200 non-null    object
 11  class           200 non-null    int64
dtypes: int64(3), object(9)
memory usage: 18.9+ KB